.App {
  text-align: center;
  background-image: url("./classical music bg.png");
  background-repeat: repeat;
  background-position: center;
  height: 911px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.breadcrumbs {
  text-align: left;
  color: #6E162C;
}

.container {
  background-color: #FFE17F;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 75px;
  position: center;
}

.post {
  background-color: #fff;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid #A9A9A9;
  margin-top: 20px;
}

a:link {
  color: #6E162C;
}

a:visited {
  color: #6E162C;
}

a:hover {
  color: #D32A54;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
